#map
{
    height:600px;
    width: 100%;
}
*
{
  margin:0;
  padding:0;
}

body{
    background-image: url("../images/bg.webp");
    background-repeat: repeat;
    background-size: cover;
    overflow-x: hidden;
    /* background-size: contain; */
    background-position: center;
    /* background-size: contain; */
    /* width: 900px; */
  }

  #li a 
  {
    color:rgb(223, 247, 9);
    font-weight: 800;
  }

#link
{
    color:rgb(228, 223, 223);
    font-weight: 500;

}
.navbar-brand
{
    /* width: 150px; */
    height: 50px;
}

/* #hero img
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;

} */

#hero img
{
  width: 100%;
  /* height: 305px; */
 
}
#hero
{
  /* border: ; */
  /* border: 100px; */
  background-color: black;
  border-radius: 50%;
    /* margin: 20px; */
    /* gap: 80 ; */
    display:flex;
    justify-content: center;
    margin: 30px; 
    align-items: center;
    
}

#container
{
    display:flex;
    justify-content: space-evenly; 
}


.card {
    position: relative;
    /* display: inline-block; */
    border: none;
  }

  .card:hover .card-img-overlay {
    display: block;
  }

  .card-img-overlay {
    position: absolute;
    display: none;
    background-color: rgba(22, 7, 7, 0.82);
    color: #ccc9c9;
    text-align:center;
    font-weight: 900;
    /* white-space:pre; */
    overflow:auto;
  text-overflow:ellipsis;
  }

  .card-img-overlay h5 {
    text-align: center;
    margin-bottom: 20px;
    color: #ee1d1d;
    font-weight: 2000;

  }

  .card-img-overlay p {
    font-size: 14px;
  }